.NavigationItem {
  height: 100%;

  & a {
    color: white;
    text-decoration: none;
    padding: .8rem 1rem;
    margin-right: 0.2rem;
    display: block;
    text-align: center;

    &:hover, &:active, &.active {
      background-color: rgba(64, 164, 201, 0.5);
      border-bottom: rgb(64, 164, 201) 5px solid;
    }
  }
}

@media (max-width: 500px) {
  .NavigationItem {
    width: 100%;

    & a {
      color: #8f5c2c;

      &:hover, &:active, &.active {
        color: #30a4c8;
        background-color: white;
      }
    }
  }
}