@import '../../../../sass/config';

.NavigationItems {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: $smartphones-width) {
  .NavigationItems {
    flex-direction: column;
  }
}
