@import '../../sass/config';
.Burger {
  width: 80%;
  margin: auto;
  height: 25rem;
  overflow-y: auto;
  font-weight: bold;
  font-size: 1.2rem;
  max-width: $website-width;
  padding: 1rem;

  &.no-ingredient {
    text-align: center;
    border: #228c1d solid 2px;
    border-radius: 20px;
  }
}

@media (max-width: $tablet-width) {
  .Burger {
    height: 500px;
  }
}

@media (max-width: $smartphones-width) {
  .Burger {
    height: 400px;
  }
}

@media (max-height: $landscape-high) {
  .Burger {
    width: 60%;
    height: 300px;
  }
}
