@import '../../sass/config';
.Burger {
  width: 80%;
  margin: auto;
  height: 25rem;
  overflow-y: auto;
  font-weight: bold;
  font-size: 1.2rem;
  max-width: $website-width;
  padding: 1rem;
  transition: .3s ease-in-out;

  &.noIngredients {
    padding-top: 5rem;
  }
}

@media (max-width: $tablet-width) {
  .Burger {
    //height: 500px;
  }
}

@media (max-width: $smartphones-width) {
  .Burger {
    height: 300px;
  }
}

@media (max-height: $landscape-high) and (max-width: $tablet-width) {
  .Burger {
    width: 60%;
    height: 200px;

    &.noIngredients {
      padding-top: 2rem;
    }
  }
}
