.SideDrawer {
  position: fixed;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: white;
  padding: 1rem;
  transition: transform .3s ease-out;
}

.Open {
  transform: translateX(0);
}

.Closed {
  transform: translateX(-100%);
}

.Logo {
  height: 12%;
  width: 100%;
}