.Logo {
  height: 80%;
  background-color: white;
  border-radius: 5px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    height: 80%;
  }
}

@media (max-width: 500px) {
  .Logo {
    border: 3px solid #8f5c2c;
  }
}
