.MenuBtn {
  input {
    opacity: 0;
  }

  & > label {
    display: flex;
    align-items: center; /* to align column dashes */
    justify-content: center;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    padding: 0.2rem;

    /* hamburger */
    & > span, & > span::before, > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background: #D39952;
      transition-duration: .25s;
    }

    /* top dash */
    & > span::before {
      content: '';
      top: -8px;
    }

    /* bottom dash */
    & > span::after {
      content: '';
      top: 8px;
    }
  }
}


.CrossBtn {
  @extend .MenuBtn;
  // Rotate dashes
  & input + label > span {
    transform: rotate(45deg);
  }

  // rotate top dash
  & input + label > span::before {
    top: 0;
    transform: rotate(0);
  }

  // rotate bottom dash
  & input + label > span::after {
    top: 0;
    transform: rotate(90deg);
  }
}

@media (max-width: 500px) {
  .CrossBtn {
    padding-bottom: 1rem;
  }
}
