.ContactData {
  margin: 1rem auto;
  width: 80%;
  text-align: center;

  form {
    margin: auto;
    width: 40%;
  };
}

@media (max-width: 600px) {
  .ContactData {
    width: 100%;

    form {
      width: 80%;
    }
  }
}