@import '../../sass/config';

.Header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703b09;
  z-index: 90;

  & nav {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .Inner {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
}

@media (max-width: $smartphones-width) {
  .DescTopOnly {
    display: none;
  }
}